/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/


/* theme color */

$--color-primary: #1B65B9;
$--color-success: #468847;
$--color-warning: #E6A23C;
$--color-danger: #FF0000;
// $--color-info: #1E1E1E;
$--button-font-weight: 400;
// $--color-text-regular: #1f2d3d;
$--border-color-light: #cecece;
$--border-color-lighter: #b6b7b9;
$--table-border:1px solid#cecece;

/* icon font path, required */

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    theme: $--color-primary;
}